html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Voorkomt handmatig scrollen */
}

.body {
    background-image: url('gallerie.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.controls {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    display: flex;
    gap: 10px;
}

#gallery-container {
    display: inline-flex;
    padding-top: 120px;
    white-space: nowrap;
    /* Start snelheid op 80s */
    animation: scroll-langs 80s linear infinite;
}

.images {
    height: 300px;
    width: auto;
    margin: 0 30px;
    flex-shrink: 0;
    display: block;
}

@keyframes scroll-langs {
    0% { transform: translateX(100vw); }
    100% { transform: translateX(-100%); }
}

button {
    padding: 10px 20px;
    background-color: #c92121;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button a {
    color: white;
    text-decoration: none;
}

/* Zorgt dat de animatie pauzeert als je met je muis over een foto gaat */
#gallery-container:hover {
    animation-play-state: paused;
}