html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Verbergt de scrollbalk omdat hij vanzelf gaat */
}

.body {
    background-image: url('gallerie.png');
    background-repeat: repeat-x;
    background-attachment: fixed;
}

#gallery-container {
    display: inline-flex;
    padding-top: 100px;
    /* De animatie: 30 seconden, lineair (altijd dezelfde snelheid), oneindig */
    animation: scroll-langs 30s linear infinite;
}

.images {
    height: 300px;
    width: auto;
    margin: 0 20px;
    flex-shrink: 0;
}

/* De beweging instellen */
@keyframes scroll-langs {
    0% {
        transform: translateX(100vw); /* Start buiten beeld aan de rechterkant */
    }
    100% {
        transform: translateX(-100%); /* Eindig als de hele rij voorbij is aan de linkerkant */
    }
}

button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    padding: 10px 20px;
    background-color: #c92121;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}